<div class="col-md-12">
  <h3><%= @job.title %></h3>
  <hr>
  <p><%= simple_format(@job.description) %></p>
  <p><%= @job.wage_lower_bound %></p>
  <p><%= @job.wage_upper_bound %></p>
  <p><%= @job.contact_email %></p>
  <br>
  <div class="text-center">
     <%= link_to("提交简历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration: underline;") %>
  </div>
</div>
